@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(" Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "glyphicon glyphicon-user" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="glyphicon glyphicon-log-in"> Cerrar sesión</a></li>
        <li>@Html.ActionLink("Mantenimiento","Index","Mantenimiento")</li>
</ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("  Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "glyphicon glyphicon-star-empty" })</li>
        <li><a id="loginLink" class="glyphicon glyphicon-log-out" href="#" data-toggle="modal" data-target=".contenedor_modal">Iniciar Sesión</a></li>
        
    </ul>
}
